.btn-block{
    height: 18vh;
}

.identification-container {
    margin-top: -20%;
}

.identification-input {
    width: 98% !important;
    margin: auto;
    font-size: 200% !important;
    letter-spacing: 0.1em;
}

.hidden {
    display: none;
}

.qr-container > img {
    margin: auto
}

.history-table {
    height: 80%;
    overflow-y: scroll;
}