<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Turnos</title>
</head>
<body>
    <div class="app">
        <div class="row m-0 vh-100 align-items-center justify-content-center">
            <h3 class="text-center col-12 mb-5">Creación de módulo</h3>
            <div class="col-4 justify-content-center identification-container">
                <label for="autor">Autor</label>
                <input type="text" v-model="author" class="form-control mb-3">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control mb-3" v-model="description" rows="3"></textarea>
                <div>
                    <label for="letra">Letra identificadora: <b>{{letter}}</b> </label>
                </div>
                <div class="text-center mt-4">
                    <button type="button" v-on:click="addModule" class="btn btn-primary">Crear módulo</button>
                </div>
            </div>
        </div>
    </div>
    <script src='js/lib/jquery.min.js'></script>
    <script src='js/lib/qrcode.min.js'></script>
    <script src='js/lib/sweetalert2.js'></script>
    <script src='js/lib/jspdf.min.js'></script>
    <script src="js/lib/vue.js"></script>
    <script src="js/admin.js"></script>
</body>
</html>