<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Pendiente cambiar cdn por estaticos -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Turnos</title>
</head>
<body>
    <div class="app">
        <div v-if="screens.active === 'home'" class="row m-0 vh-100 text-center align-items-center justify-content-center">
            <h3 class="col-12">Modulo a atender</h3>
            <button v-for="m in moduleList" v-on:click="selectModule(m)" class="col-4 btn-lg btn-primary mx-3">{{m.moduleLetter}}</button>
        </div>

        <div v-if="screens.active === 'moduleBody'" class="row m-0 vh-100 text-center align-items-center justify-content-center">
            <h3 id="estado" class="col-12">Esperando turno</h3>
            <div class="col-12">
                <p>siguiente:</p>
                <h1 class="turnoact">{{selectedModule.moduleLetter}}-1</h2>
            </div>
            <div class="w-50 row justify-content-center">
                <button v-on:click="arrive" id="attend" class="col-4 btn-lg btn-primary disabled">En modulo</button>
                <button class="col-6 ml-5 btn-lg btn-primary">Siguiente</button>
            </div>
            <div class='w-100'>
                <p>Modulo creado por: {{selectedModule.author}}</p>
                <p>{{selectedModule.description}}</p>
            </div>
        </div>
    </div>

    <!-- <div v-if="screens.active === 'home'" class="row m-0 vh-100 text-center align-items-center justify-content-center">
            <h3 class="col-12">Digite su número de cedula</h3>
            <div class="w-50 row justify-content-center identification-container">
                <p v-bind:class="{hidden: isValidIdentification}" class='alert alert-warning'>El número ingresado no es una cedula válida</p>
                <div class="col-11 mb-5">
                    <input v-model="identification" readonly type="text" class="identification-input form-control">
                </div>
                <number-button v-for="index in 9" :number=index v-bind:key=index></number-button>
                <div class="col-4 my-2" >
                    <button v-on:click="eraseNumber" class="col-8 btn-lg btn-primary"><i class="fas fa-backspace"></i></button>
                </div>
                <number-button number="0"></number-button>
                <div class="col-4 my-2">
                    <button v-on:click="validateIdentification()" class="col-8 btn-lg btn-primary"><i class="fas fa-check-circle"></i></button>
                </div>
            </div>
        </div> -->


    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>