<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Pendiente cambiar cdn por estaticos -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Turnos</title>
</head>
<body>
    <div class="app">
        <div v-if="screens.active === 'home'" class="row m-0 vh-100 text-center align-items-center justify-content-center">
            <h3 class="col-12">Modulo a atender</h3>
            <button v-for="m in moduleList" v-on:click="displayAtend" class="col-4 btn-lg btn-primary mx-3">{{moduleList}}</button>
        </div>

        <div v-if="screens.active === 'Atend'" class="row m-0 vh-100 text-center align-items-center justify-content-center">
            <h3 id="estado" class="col-12">En espera...</h3>
            <div class="col-12">
                <p>Turno:</p>
                <h1 class="turnoact">a</h2>
            </div>
            <div class="w-50 row justify-content-center">
                <button v-on:click="arrive" id="attend" class="col-4 btn-lg btn-primary disabled">En modulo</button>
                <button class="col-6 ml-5 btn-lg btn-primary">Siguiente</button>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>