<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Atención</title>
</head>
<body>
    <div class="app">
        <div v-if="screens.active === 'home'" class="row m-0 vh-100 text-center align-items-center justify-content-center">
            <h3 class="col-12">Modulo a atender</h3>
            <button v-for="module in moduleList" v-on:click="selectModule(module)" class="col-4 btn-lg btn-primary mx-3">{{module.description}}</button>
        </div>

        <div v-if="screens.active === 'moduleBody'" class="row m-0 vh-100 text-center align-items-center justify-content-center">
            <h3 id="estado" class="col-12">Esperando turno</h3>
            <div class="col-12">
                <p>Esperando por:</p>
                <h1 class="turnoact">{{selectedModule.moduleLetter}}-1</h2>
            </div>
            <div class="w-50 row justify-content-center">
                <button v-on:click="arrive" id="attend" class="col-4 btn-lg btn-primary disabled">En modulo</button>
                <button class="col-6 ml-5 btn-lg btn-primary">Siguiente</button>
            </div>
            <div class='w-100'>
                <p>Modulo {{selectedModule.moduleLetter}}: {{selectedModule.description}}</p>
                <p>Creado por: {{selectedModule.author}}</p>
            </div>
        </div>
    </div>
    <script src='js/lib/jquery.min.js'></script>
    <script src="js/lib/vue.js"></script>
    <script src="js/attend.js"></script>
</body>
</html>